In [19]:
class Student: 
    def __init__(self,name,course,gender,age):
        self.name = name
        self.course = course
        self.gender = gender
        self.age = age

In [20]:
Valen = Student('Valen','data analyst','female',33)

In [21]:
Valen.age

33

In [23]:
students = ['Feras', 'Bruna', 'Yan']

In [24]:
students

['Feras', 'Bruna', 'Yan']

In [25]:
pets = {'Kaan': 'cat','Tahora': 'turtle'}

In [27]:
pets['Kaan']

'cat'

In [28]:
pets.keys()

dict_keys(['Kaan', 'Tahora'])

In [29]:
pets.values()

dict_values(['cat', 'turtle'])

In [30]:
lists_of_pets = list(pets.values())

In [31]:
lists_of_pets

['cat', 'turtle']

In [33]:
for pet in lists_of_pets:  #here you can also put i instead of 'pet'
    print(pet)

cat
turtle

In [34]:
pets

{'Kaan': 'cat', 'Tahora': 'turtle'}

In [35]:
pets.items()

dict_items([('Kaan', 'cat'), ('Tahora', 'turtle')])

In [36]:
for element in pets.items():
    print(element)

('Kaan', 'cat')
('Tahora', 'turtle')

In [39]:
for person, pet in pets.items():
    print(person)

Kaan
Tahora

In [ ]:
#Lists and list comprehension

In [1]:
small_list= list(range(11))

In [2]:
small_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
squared_list = []
for i in small_list:
    squared_list.append(i**2)

In [7]:
squared_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
squared_list_comprehension = [i**2 for i in small_list]

In [13]:
squared_list_comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Students to only have names: 
students = ['Anaswara Vijayan',
 'Bruna Santos',
 'Bryan Dunleavy',
 'Feras Rafeh',
 'Geneva Uy',
 'Iranel González',
 'Ivanna Pivtorak',
 'Jan Hildebrand',
 'Kaan Dural',
 'Tahora Husaini',
 'Tomas Renaudo',
 'Valentina Delgado']

In [10]:
first_names = []
for student in students:
    first_names.append(student.split()[0]) #the index 0 is because I'm telling them to split the first element only

In [11]:
first_names

['Anaswara',
 'Bruna',
 'Bryan',
 'Feras',
 'Geneva',
 'Iranel',
 'Ivanna',
 'Jan',
 'Kaan',
 'Tahora',
 'Tomas',
 'Valentina']

In [16]:
#in list comprehension
surname_list = [student.split()[-1] for student in students]

In [17]:
surname_list

['Vijayan',
 'Santos',
 'Dunleavy',
 'Rafeh',
 'Uy',
 'González',
 'Pivtorak',
 'Hildebrand',
 'Dural',
 'Husaini',
 'Renaudo',
 'Delgado']

In [18]:
# List comprehensions in nested loops 

my_list = [[1,2,3],[1,2,3]]
flat_list=[]

for sublist in my_list:
    for item in sublist:
        flat_list.append(item)

In [20]:
flat_list

[1, 2, 3, 1, 2, 3]

In [21]:
flat_list = [item for sublist in my_list for item in sublist]

In [22]:
flat_list

[1, 2, 3, 1, 2, 3]

In [23]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [24]:
import antigravity

In [29]:
big_list = [['Kaan', 'Feras', 'Tomas'], ['Bruna', 'Ira', 'Valentina']]

In [31]:
big_list = [item for sublist in big_list for item in sublist]

In [32]:
big_list

['Kaan', 'Feras', 'Tomas', 'Bruna', 'Ira', 'Valentina']

In [33]:
#Comprehension list, a list that has two lists that has two lists
big_list = [[["Kaan", "Feras", "Tomas"],["Bruna", "Ira", "Valentina"]],\
            [["Jan", "Anaswara", "Ivanna"]]]
flat_list = [item for sublist in big_list for subsublist in sublist for item in subsublist]
flat_list

['Kaan',
 'Feras',
 'Tomas',
 'Bruna',
 'Ira',
 'Valentina',
 'Jan',
 'Anaswara',
 'Ivanna']

Prubas de función Map

In [1]:
my_list = [1, 2, 3]
list(map(lambda x:x**2, my_list))

[1, 4, 9]